<html lang="ko">
<head>
  <meta charset="utf-8" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    div#app { padding: 30px; margin: 20px auto; width: 900px; }
    table { border-collapse: collapse; margin: auto; }
    td { padding: 15px; border: 1px solid black;  text-align: center; }
  </style>
</head>
<body>
  <div id="app">
    <table>
        <tr>
            <td v-for="c in col_size">
                <span v-for="r in row_size">
                    {{ c+1 }} * {{ r }} = {{ (c+1) * r }}<br>
                </span>
            </td>
        </tr>
    </table>
  </div>

  <script type="text/javascript">
    let app = {
      data() {
        return {
          row_size: 9,
          col_size: 8
        };
      }
    };
    Vue.createApp(app).mount("#app");
   </script>
</body>    
</html>
