.btn { padding: .3em 1.5em; margin-left: 1em; border: 1px solid #aaa; border-radius: .3em;
  background-color: #eee; box-shadow: .15em .15em .3em  rgba(0,0,0,.1); font-size: 1em; }

.btn:active { transform: translateY(.2em); box-shadow: none; background-color: #ddd;}

.btn.lg { padding: .4em 2em; }
.btn.sm { padding: .25em 1em; }
